<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="baseURL" value="https://qa.koel.app/" />
    <parameter name="Playlist" value="Beta" />
    <test name="HW20 Test" preserve-order="false">
        <classes>
            <class name="LoginTest"/>
            <class name="HomeWork20"/>
            <class name="BaseTest"/>
        </classes>
    </test>
</suite>